.container {
    display: flex;
}


.reservation__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    width: 887px;
    height: auto;
    margin-top: 150px;
    margin-left: 240px;
    /* width: 100%;
    height: 100%; */
    color: #e6ecfe;
}

.reservation__title {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    margin-top: 85px;

}

.reservation__items {
    width: 887px;
    height: 538px;
    background-color: #3560F6;
    border-radius: 10px;
    font-size: 2em;
}

.reservation__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clock {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #3560F6;
    position: relative;
    background-color: #e6ecfe;
    margin-top: 25px;
    margin-left: 25px;
}

.clock::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background:
        repeating-conic-gradient(
            from -90deg,
            #3560F6 0deg 6deg,
            transparent 7deg 30deg
        );
    mask:
        -webkit-mask: radial-gradient(circle, transparent 60%, black 61%);
        mask: radial-gradient(circle, transparent 60%, black 61%);
}

  /* 針の共通設定 */
.hand {
    position: absolute;
    background: #3560F6;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    border-radius: 2px;
}

.hour { width: 4px; height: 25%; transform: translateX(-50%) rotate(300deg); } /* 短針 */
.minute { width: 4px; height: 30%; transform: translateX(-50%) rotate(42deg); background: #3560F6; } /* 長針 */

.reservation__header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
}

.reservation__name {
    margin:0 auto;
}
.reservation__cancel-wrapper {
    width: 50px;
    height: 50px;
    margin:60px 60px;
}
.circle-cross {
  /* 円のスタイル */
  width: 50px;
  height: 50px;
  background-color: #3560f6;
  border: 4px solid #e6ecfe;
  border-radius: 50%; /* 正円にする */
  position: relative; /* 擬似要素の基準にする */
  cursor: pointer;
}

/* クロスの線の共通スタイル */
.circle-cross::before,
.circle-cross::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;  /* 線の長さ */
  height: 4px; /* 線の太さ */
  background-color: #e6ecfe;
  border-radius: 2px;
}

/* 1本目の線（右下がり） */
.circle-cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* 2本目の線（右上がり） */
.circle-cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.clock__wrapper {
    width: 90px;
    height: 90px;
}

table th {
    text-align: left;
}

table th, table td {
    padding: 10px 30px;
}

.table__wrapper {
    padding: 30px 10px;
}

.shop {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: top;
    width: 887px;
    height: auto;
    margin-top: 50px;
    margin-left: 240px;
}

.shop__subtitle {
    font-size: 4em;
    font-weight: bold;
    color: #000000;
    margin-top: 75px;
    margin-bottom: 10px;
}

.shop__title {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    margin-top: 5px;
}

.shop__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 1440px;
    height: auto;
    margin-top: 0px;
}

.shop__name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 400px;
    height: auto;
}

.shop__card {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    align-items: left;
    background-color: #FFFFFF;
    width: 600px;
    height: 560px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 8px -2px rgba(0, 0, 0, 0.5);
}

.shop__img{
    object-fit: cover;
    width: 100%;
    height: 50%;
    aspect-ratio: 1/1;
    display: block;
}

.shop__content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 2px;
    margin-left: 30px;
}

.shop__name{
    text-align: left;
    margin-top: 10px;
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 2px;
}

.shop__details {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1.5em;
    color: #5F5F5F;
}

.shop__area, .shop__genre {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.shop__button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 60px;
    border-radius: 10px;
    background-color: #3560F6;

    margin-left: 40px;
}

.shop__card-footer {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 2px;
}

.shop__button {
    color: #FFFFFF;
    font-size: 1.5em;
}

.shop__heart{
    font-size: 4em;
    color: #EEEEEE;
    margin-right: 30px;
}

.shop__red-heart {
    font-size: 4em;
    color: #FF0000;
    margin-right: 30px;
}

@media (min-width: 768px) and (max-width: 850px) {
    .shop__img--container {
        width: 25vw;
        height: 10em;
    }
}
