.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    font-size: 40px;
    display: inline-flex;
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    cursor: pointer;
    padding: 0 5px;
}

.rating input:checked~label,
.rating label:hover,
.rating label:hover~label {
    color: #f5b301;
}
